@page "/"
@namespace MontyClt.Bui.Usage.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MontyClt.Bui.Usage</title>
    <base href="~/" />
    <link href="~/css/reboot.css" rel="stylesheet" />
    <link href="~/css/structure/admin.css" rel="stylesheet" />
    <link href="~/css/themes/unthemed.css" rel="stylesheet" data-theme />

    <script src="https://unpkg.com/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script>
        window.Bui = {
            popper: function (activadorQuerySelector, boxQuerySelector, placement) {
                console.log(activadorQuerySelector, boxQuerySelector, placement);
                new Popper(document.querySelector(activadorQuerySelector),
                    document.querySelector(boxQuerySelector), {
                    placement: placement
                });
            }
        };

        window.BuiUsg = {
            changeTheme: function () {
                var el = document.querySelector("link[data-theme]");
                var theme = el.href;

                if (theme.endsWith("unthemed.css")) {
                    el.href = "/css/themes/minimalist.css";
                }
                else {
                    el.href = "/css/themes/unthemed.css";
                }
            }
        };
    </script>
</head>
<body>
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
