@page "/"

@using System.Linq
@using System.Linq.Expressions

@using MontyClt.Bui.Components
@using MontyClt.Bui.Components.Buttons
@using MontyClt.Bui.Components.Cards
@using MontyClt.Bui.Components.Data
@using MontyClt.Bui.Components.Data.Datatable
@using MontyClt.Bui.Components.Inputs
@using MontyClt.Bui.Components.Layout
@using MontyClt.Bui.Components.Popovers

@inject MontyClt.Bui.Components.Modal.Alert Alert

<Modal @ref="mdl">
    <Card>
        <Header>Pedido #25</Header>
        <Body>
            El pedido #25 incluye muchas cosas
        </Body>
        <Footer>
            <ButtonGroup Orientation="ButtonGroup.ButtonGroupOrientation.Horizontal">
                <Button State="State.Primary">Guardar</Button>
                <Button State="State.Primary">Detener</Button>
            </ButtonGroup>
        </Footer>
    </Card>
</Modal>

<Page Title="Order" Subtitle="#25">
    <Actions>
        <Button State="State.Warning" OnClick="ShowWarningAlert">Show warning</Button>
        <Button OnClick="() => mdl.Open()" State="State.Primary">Provisionar</Button>
        <Button @onclick="() => Console.WriteLine()" Loading="false" State="State.Danger">Cancelar</Button>
    </Actions>
    <Content>

        <MontyClt.Bui.Components.Layout.Cell ColumnStart="1" ColumnEnd="3">
            <Card>
                <Header>Pedido #25</Header>
                <Body>
                    El pedido #25 incluye muchas cosas
                </Body>
                <Footer>
                    <ButtonGroup Orientation="ButtonGroup.ButtonGroupOrientation.Horizontal">
                        <Button State="State.Primary">Guardar</Button>
                        <Button State="State.Primary">Detener</Button>
                    </ButtonGroup>

                    <center>
                        <Paginator Items="100" ItemsPerPage="10" />
                    </center>
                </Footer>
            </Card>
        </MontyClt.Bui.Components.Layout.Cell>

        <MontyClt.Bui.Components.Layout.Cell ColumnStart="3">
            <Card>
                <Header>Items del pedido</Header>
                <Body>

                </Body>
            </Card>
        </MontyClt.Bui.Components.Layout.Cell>

        <MontyClt.Bui.Components.Layout.Cell ColumnStart="1" ColumnEnd="4" RowStart="2">
            <Card FitBody="true">
                <Header>Clientes</Header>
                <Body>
                    <Datatable @ref="dt" Items="Individuals" IsSelectable="true">
                        <Header>
                            <ColumnHeader IsSortable="true" OnSort="() => Console.WriteLine(12)">Nombre</ColumnHeader>
                            <ColumnHeader>Apellidos</ColumnHeader>
                            <ColumnHeader>Editar</ColumnHeader>
                        </Header>
                        <Content>
                            <Column>@context.Name</Column>
                            <Column>@context.LastName</Column>
                            <Column>
                                <Button OnClick="() => Console.WriteLine(context.Name + context.LastName)">Editar</Button>
                            </Column>
                        </Content>
                    </Datatable>
                </Body>
                <Footer>
                    <Button OnClick="ShowSelected">Mostrar seleccionados</Button>
                </Footer>
            </Card>
        </MontyClt.Bui.Components.Layout.Cell>

    </Content>
</Page>

@code
{
    Popover menu;
    Popover _left;
    Popover _right;
    Popover _top;
    Popover _bottom;

    Modal mdl;

    Datatable<Individual> dt;

    string name { get; set; } = "Ivan";
    bool selectable = false;

    public async Task ShowWarningAlert(MouseEventArgs e)
    {
        await Alert.ShowAlertAsync("Va a ocurrir una desgracia.", "Atención", State.Danger);
    }

    class Individual
    {
        public string Name { get; set; }
        public string LastName { get; set; }

        public override string ToString()
        {
            return Name + " " + LastName;
        }
    }

    IEnumerable<Individual> Individuals = new Individual[]
    {
        new Individual
        {
            Name = "IVAN",
            LastName = "MONTILLA"
        },
        new Individual
        {
            Name = "JOSÉ",
            LastName = "BELLIDO"
        },
        new Individual
        {
            Name = "CARLA",
            LastName = "PLANES"
        }
    };

    IList<Column<Individual>> Columns = new List<Column<Individual>>
    {
        new Column<Individual>("Nombre", x => x.Name),
        new Column<Individual>("Apellidos", x => x.LastName, true),
        new Column<Individual>("Editar", x => new RenderFragment(builder =>
        {
            builder.OpenComponent<Button>(0);
            builder.AddAttribute(1, "State", State.Success);
            builder.AddAttribute(2, "ChildContent", (RenderFragment) (childBuilder => childBuilder.AddContent(3, "Ver ficha")));
            builder.CloseComponent();
        })),
    };

    void ShowSelected()
    {
        foreach (var row in dt.SelectedRows)
            Console.WriteLine(row.Item.ToString());
    }
}