@page "/"

@using MontyClt.Bui.Components
@using MontyClt.Bui.Components.Buttons
@using MontyClt.Bui.Components.Cards
@using MontyClt.Bui.Components.Data
@using MontyClt.Bui.Components.Inputs
@using MontyClt.Bui.Components.Layout

<Page Title="Order" Subtitle="#25" Columns="3">
    <Actions>
        <Button OnClick="() => Console.WriteLine(52)" State="State.Primary">Provisionar</Button>
        <Button State="State.Danger">Cancelar</Button>
    </Actions>
    <Content>

        <Cell ColumnStart="1" ColumnEnd="3">
            <Card>
                <Header>Pedido #25</Header>
                <Body>
                    El pedido #25 incluye muchas cosas
                </Body>
                <Footer>
                    <MontyClt.Bui.Components.Popovers.Popover @ref="menu">
                        <Activator>
                            <Button OnClick="() => menu.Toggle()">Mostrar menú</Button>
                        </Activator>
                        <Content>
                            <Card>
                                <Body>
                                    <ul>
                                        <li>Opcion 1</li>
                                        <li>Opcion 2</li>
                                        <li>Opcion 3</li>
                                    </ul>
                                </Body>
                            </Card>
                        </Content>
                    </MontyClt.Bui.Components.Popovers.Popover>
                </Footer>
            </Card>
        </Cell>

        <Cell ColumnStart="3">
            <Card>
                <Header>Items del pedido</Header>
                <Body>
                    Lalala lala la a lala s
                </Body>
            </Card>
        </Cell>

    </Content>
</Page>

@code
{
    MontyClt.Bui.Components.Popovers.Popover menu;

    string name { get; set; } = "Ivan";
}