@page "/"

@using MontyClt.Bui.Components
@using MontyClt.Bui.Components.Buttons
@using MontyClt.Bui.Components.Cards
@using MontyClt.Bui.Components.Data
@using MontyClt.Bui.Components.Inputs
@using MontyClt.Bui.Components.Layout

<Page Title="Order" Subtitle="#25">
    <Actions>
        <Button OnClick="() => Console.WriteLine(52)" State="State.Primary">Provisionar</Button>
        <Button State="State.Danger">Cancelar</Button>
    </Actions>
    <Content>
        <Card>
            <Header>Pedido #25</Header>
            <Body>
                El pedido #25 incluye muchas cosas
            </Body>
        </Card>
        <Card>
            <Header>Items del pedido</Header>
            <Body>Lalala lala la a lala s</Body>
        </Card>
    </Content>
</Page>

@code
{
    string name { get; set; } = "Ivan";
}