@inherits LayoutComponentBase

@using MontyClt.Bui.Components
@using MontyClt.Bui.Components.Buttons
@using MontyClt.Bui.Components.Cards
@using MontyClt.Bui.Components.Popovers

@inject IJSRuntime JS

<MontyClt.Bui.Components.Layout.Layout>
    <Logo>Logo here</Logo>
    <Searcher>
        <input type="text" placeholder="Buscar" />
    </Searcher>
    <Profile>
        <Button State="State.Secondary" @onclick="ChangeTheme">Cambiar tema</Button>
        <Button State="State.Secondary">Notificaciones</Button>
        <DropdownButton Name="Hola Ivan">
            <Button State="State.Secondary">Mi cuenta</Button>
            <Button State="State.Secondary">Ajustes</Button>
            <Button State="State.Danger">Cerrar sesión</Button>
        </DropdownButton>
    </Profile>
    <Content>
        @Body
    </Content>
    <Menu>
        <NavMenu></NavMenu>
    </Menu>
    <Footer>
        Copyright &copy; Ivan Montilla
    </Footer>
</MontyClt.Bui.Components.Layout.Layout>

@code
{
    Popover profileCard;

    void ShowProfileCard()
    {
        profileCard.Toggle();
    }

    async Task ChangeTheme()
    {
        await JS.InvokeVoidAsync("BuiUsg.changeTheme");
    }
}