@using MontyClt.Bui.Components.Lists

<div>
    <List>
        <ListItem>
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        </ListItem>

        <ListItem>
            <NavLink href="/counter">Counter</NavLink>
        </ListItem>
    </List>
</div>