.paginator {
    display: flex;
    flex-direction: row;

    .pages {
        display: flex;
        flex-direction: row;
        .button {
            margin-left: 2px;
            margin-right: 2px;

            &.active {
                background-color: blue;
                color: blue;
            }
        }
    }
}
