.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 64px 1fr 64px; }
  .layout header {
    grid-column: 1 / 3; }
    .layout header .toolbar {
      height: 100%;
      display: grid;
      grid-template-columns: 240px 300px 1fr; }
      .layout header .toolbar .logo-container {
        grid-column: 1 / 2; }
      .layout header .toolbar .search-container {
        grid-column: 2 / 3; }
      .layout header .toolbar .profile-container {
        grid-column: 3 / 4;
        text-align: right; }
  .layout aside {
    grid-row: 2 / 4; }
  .layout footer {
    grid-column: 2 / 3; }

.page .action-bar {
  display: grid;
  grid-template-columns: 100px 70px 1fr; }

.page .title {
  grid-column: 1 / 3;
  grid-row: 1/ 1; }

.page .subtitle {
  grid-column: 2 / 3;
  grid-row: 1/ 1; }

.page .actions {
  grid-column: 3 / 4;
  grid-row: 1/ 1;
  text-align: right; }

.paginator {
  display: flex;
  flex-direction: row; }
  .paginator .pages {
    display: flex;
    flex-direction: row; }
    .paginator .pages .button {
      margin-left: 2px;
      margin-right: 2px; }
      .paginator .pages .button.active {
        background-color: blue;
        color: blue; }
