.button-group {
    display: inline-flex;

    &.vertical {
        flex-direction: column;

        button.button {
            border-radius: unset !important;

            &:first-child {
                border-radius: 4px 4px 0 0 !important;
            }

            &:last-child {
                border-radius: 0 0 4px 4px !important;
            }
        }
    }

    &.horizontal {
        flex-direction: row;

        button.button {
            border-radius: unset !important;

            &:first-child {
                border-radius: 4px 0 0 4px !important;
            }

            &:last-child {
                border-radius: 0 4px 4px 0 !important;
            }
        }
    }
}

button.button {
    border: 0;
    color: #fff;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .3rem 1rem;
    border-radius: 4px;

    &.primary {
        background-color: #5867dd;

        &.hover:enabled, &:hover:enabled {
            background-color: darken(#5867dd, 10);
        }
    }

    &.secondary {
        color: black;
        background-color: transparent;

        &.hover:enabled, &:hover:enabled {
            color: #5867dd;
            background-color: #f2f3f7;
        }
    }

    &.success {
        background-color: #0abb87;

        &.hover:enabled, &:hover:enabled {
            background-color: darken(#0abb87, 10);
        }
    }

    &.warning {
        background-color: #ffb822;

        &.hover:enabled, &:hover:enabled {
            background-color: darken(#ffb822, 10);
        }
    }

    &.danger {
        background-color: #fd397a;

        &.hover:enabled, &:hover:enabled {
            background-color: darken(#fd397a, 10);
        }
    }

    &[disabled] {
        cursor: not-allowed;
    }
}
