@using MontyClt.Bui.Components.Text

<div class="alert @State">
    <div class="Title">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <Icon Name="@Icon" />
        }
        <span>@Title</span>
    </div>
    <div class="Content">
        @ChildContent
    </div>
</div>