<div class="card">
    @if (Header != null)
    {
        <div class="header">
            @Header
        </div>
    }

    @if (Body != null)
    {
        <div class="body @(FitBody ? "fit" : "")">
            @Body
        </div>
    }

    @if (Footer != null)
    {
        <div class="footer">
            @Footer
        </div>
    }
</div>