@typeparam TItem

<div class="datatable" id="datatable-@Guid">
    <table>
        <thead>
            <tr>
                @if (IsSelectable)
                {
                    <th class="selectable"><input data-selectall type="checkbox" checked="@AreAllRowsSelected" @onclick="OnChangeMainCheckbox" /></th>
                }
                @Header
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Rows)
            {
                <tr @key="row">
                    @if (IsSelectable)
                    {
                        <td class="selectable"><input type="checkbox" @bind="row.IsSelected" /></td>
                    }
                    @Content(row.Item)
                </tr>
            }
        </tbody>
    </table>
</div>