.table {
    table {
        border: 1px dashed black;

        th {
            border-bottom: 1px solid black;
        }

        tr:not(:last-child) {
            border-bottom: 1px dotted black;
        }
    }
}

.datatable {
    @extend .table;

    th.sortable {
    }
}
