<div class="page">
    <div class="action-bar">
        <div class="title">@Title</div>
        <div class="subtitle">@Subtitle</div>
        <div class="actions">@Actions</div>
    </div>

    <div class="content" style="@GetStyleString()">
        @Content
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    [Parameter]
    public RenderFragment Actions { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public uint Rows { get; set; } = 1;

    [Parameter]
    public uint Columns { get; set; } = 1;

    private string GetStyleString()
    {
        return $"display: grid; grid-template-rows: repeat({Rows}, auto); grid-template-columns: repeat({Columns}, 1fr);";
    }
}