@using MontyClt.Bui.Components.Buttons

<div class="paginator">
    <div class="previous">
        <div class="button-container">
            <Button Icon="chevron-left" OnClick="() => SetPage(CurrentPage - 1)" />
        </div>
    </div>

    <div class="pages">
        <ButtonGroup>
            @for (int i = 1; i < Pages; i++)
            {
                var local_i = i;
                <Button OnClick="() => SetPage(local_i)"
                        State="State.Primary"
                        AdditionalClasses="@(local_i == CurrentPage ? "active" : "")">
                    @(local_i)
                </Button>
            }
        </ButtonGroup>
    </div>

    <div class="next">
        <div class="button-container">
            <Button Icon="chevron-right" OnClick="() => SetPage(CurrentPage + 1)" />
        </div>
    </div>
</div>