button.button {
    border: 0;
    color: #fff;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .3rem 1rem;
    border-radius: 4px;

    &.primary {
        background-color: #5867dd;

        &:hover {
            background-color: darken(#5867dd, 10);
        }
    }

    &.success {
        background-color: #0abb87;

        &:hover {
            background-color: darken(#0abb87, 10);
        }
    }

    &.warning {
        background-color: #ffb822;

        &:hover {
            background-color: darken(#ffb822, 10);
        }
    }

    &.danger {
        background-color: #fd397a;

        &:hover {
            background-color: darken(#fd397a, 10);
        }
    }
}
