.button {
    &.primary {
        background-color: blue;
    }

    &.success {
        background-color: green;
    }

    &.warning {
        background-color: yellow;
    }

    &.danger {
        background-color: red;
    }
}
