@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  background-color: rgba(0, 0, 0, 0.1); }

header .toolbar {
  align-items: center;
  border-bottom: 1px solid #eff0f6;
  background-color: white;
  box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.08); }
  header .toolbar .logo-container {
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
  header .toolbar .search-container {
    height: 100%;
    padding-left: 20px;
    border-left: 1px solid #eff0f6;
    display: flex;
    align-items: center; }
  header .toolbar .profile-container {
    height: 100%; }

aside {
  background-color: white;
  box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.08);
  padding: 20px; }

main .page .action-bar {
  border-left: 1px solid #eff0f6;
  height: 54px;
  align-items: center;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px; }
  main .page .action-bar .title {
    font-size: larger;
    font-weight: bold; }
  main .page .action-bar .subtitle {
    font-size: larger; }

footer {
  width: 100%;
  border-left: 1px solid #eff0f6;
  background-color: white;
  box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.08);
  padding: 20px; }

.card, .popover .content {
  background-color: white;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.2);
  border-radius: 4px; }
  .card .header, .popover .content .header {
    padding: 15px 25px;
    font-weight: bold;
    font-size: larger;
    border-bottom: 1px solid #ebedf2; }
  .card .body, .popover .content .body {
    padding: 15px 25px; }
    .card .body.fit, .popover .content .body.fit {
      padding: 0; }
  .card .footer, .popover .content .footer {
    padding: 15px 25px;
    border-top: 1px solid #ebedf2; }

.button-group {
  display: flex; }
  .button-group.vertical {
    flex-direction: column; }
    .button-group.vertical button.button {
      border-radius: unset !important; }
      .button-group.vertical button.button:first-child {
        border-radius: 4px 4px 0 0 !important; }
      .button-group.vertical button.button:last-child {
        border-radius: 0 0 4px 4px !important; }
  .button-group.horizontal {
    flex-direction: row; }
    .button-group.horizontal button.button {
      border-radius: unset !important; }
      .button-group.horizontal button.button:first-child {
        border-radius: 4px 0 0 4px !important; }
      .button-group.horizontal button.button:last-child {
        border-radius: 0 4px 4px 0 !important; }

button.button {
  border: 0;
  color: #fff;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  padding: .3rem 1rem;
  border-radius: 4px; }
  button.button.primary {
    background-color: #5867dd; }
    button.button.primary.hover, button.button.primary:hover {
      background-color: #2e40d4; }
  button.button.secondary {
    color: black;
    background-color: transparent; }
    button.button.secondary.hover, button.button.secondary:hover {
      color: #5867dd;
      background-color: #f2f3f7; }
  button.button.success {
    background-color: #0abb87; }
    button.button.success.hover, button.button.success:hover {
      background-color: #078b64; }
  button.button.warning {
    background-color: #ffb822; }
    button.button.warning.hover, button.button.warning:hover {
      background-color: #eea200; }
  button.button.danger {
    background-color: #fd397a; }
    button.button.danger.hover, button.button.danger:hover {
      background-color: #fc0758; }

body {
  font-family: Poppins,Helvetica,sans-serif; }

.badge .primary {
  background-color: blue; }

.badge .success {
  background-color: green; }

.badge .warning {
  background-color: yellow; }

.badge .danger {
  background-color: red; }

input[type=text], input[type=password] {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.3rem + 2px);
  padding: .65rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

.list {
  display: block;
  padding: 1rem 0;
  margin: 0;
  list-style: none;
  border: 0; }

.popover .content {
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.7) !important; }

.dropdown-items > *:not(:last-child) {
  margin-bottom: 10px; }

.table table th, .datatable table th, .table table td, .datatable table td {
  padding: 10px 25px; }

.table table th, .datatable table th {
  border-bottom: 1px solid #ebedf2; }

.table table tbody tr:hover, .datatable table tbody tr:hover {
  background-color: #f7f8fa; }

.table table tr:not(:last-child), .datatable table tr:not(:last-child) {
  border-bottom: 1px solid #ebedf2; }
