@using MontyClt.Bui.Components.Text

<button class="button @State @AdditionalClasses" @onclick="OnClick">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <Icon Name="@Icon" />
    }
    <span>@ChildContent</span>
</button>