@using Microsoft.AspNetCore.Components.Web
@using MontyClt.Bui.Components.Text

<button class="button @State @AdditionalClasses" @onclick="OnClick">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <Icon Name="@Icon" />
    }
    <span>@ChildContent</span>
</button>

@code
{
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public State State { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string AdditionalClasses { get; set; }
}