@using MontyClt.Bui.Components.Popovers

<Popover @ref="_popover" Placement="Placement.BottomStart">
    <Activator>
        <Button State="State"
                AdditionalClasses="@(_popover.IsOpen ? "hover" : "")"
                OnClick="TogglePopover">
            @Name
        </Button>
    </Activator>
    <Content>
        <ButtonGroup Orientation="ButtonGroup.ButtonGroupOrientation.Vertial">
            @ChildContent
        </ButtonGroup>
    </Content>
</Popover>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public State State { get; set; } = State.Secondary;

    private Popover _popover;

    private void TogglePopover()
    {
        _popover.Toggle();
    }
}
